div#container
{
   width: 1050px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #00FF00;
   text-decoration: underline;
}
a:visited
{
   color: #C0C0C0;
}
a:active
{
   color: #32CD32;
}
a:hover
{
   color: #005500;
   text-decoration: underline;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #454744;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#Breadcrumb1
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: #454744;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb1 a
{
   color: #00C024;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #777777;
}
#Breadcrumb1 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#Breadcrumb1 li
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#Breadcrumb1 li:hover
{
   transform: rotate(0deg) scale(1.2,1.2) ;
   transition: transform 500ms linear 0ms;
}
#Breadcrumb3
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: #454744;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: right;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#Breadcrumb3 > .active
{
   color: #777777;
}
#Breadcrumb3 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 16px;
   width: 18px;
}
#Breadcrumb3 li
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#Breadcrumb3 li:hover
{
   transform: rotate(0deg) scale(1.2,1.2) ;
   transition: transform 500ms linear 0ms;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
   border-radius: 6px;
   margin: 0;
}
#wb_Carousel1
{
   display: block;
   float: left;
   top: 0 !important;
}
#Carousel1 .frame
{
   width: 1050px;
   display: inline-block;
   float: left;
   height: 512px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination a
{
   display: inline-block;
   margin: 10px 10px 10px 10px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(255,255,255,1.00);
}
#wb_Carousel1 .pagination a.active
{
   background-color: rgba(255,255,255,1.00);
}
#Carousel1_back
{
   position: absolute;
   left: 10px;
   top: 47%;
   width: 20px;
   height: 30px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 10px;
   top: 47%;
   width: 20px;
   height: 30px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('images/Black_Rockfish_HP.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('images/Butterfly_Crab_HP.jpg');
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url('images/Gunnel_HP.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-4
{
   background-color: transparent;
   background-image: url('images/Sea_Hare_HP.jpg');
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: cover;
}
#Carousel1 .frame-5
{
   background-color: transparent;
   background-image: url('images/Stubby_HP.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#Carousel1 .frame-6
{
   background-color: transparent;
   background-image: url('images/Bering_Hermit_HP.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#Carousel1 .frame-7
{
   background-color: transparent;
   background-image: url('images/Seawhip_HP.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#Carousel1 .frame-8
{
   background-color: transparent;
   background-image: url('images/Heron_HP.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-9
{
   background-color: transparent;
   background-image: url('images/Orcas_HP.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-10
{
   background-color: transparent;
   background-image: url('images/Perch_HP.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#wb_Title1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Title1
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Title2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Title2
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#Heading1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Divider3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#Divider3
{
   display: flex;
   position: relative;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#Heading4
{
   color: #00C024;
   font-family: Verdana;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #454744;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#Features
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#Features > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Features > .row > .col-1, #Features > .row > .col-2, #Features > .row > .col-3, #Features > .row > .col-4, #Features > .row > .col-5, #Features > .row > .col-6
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Features
{
   width: 1050px;
}
#Features > .row > .col-1, #Features > .row > .col-2, #Features > .row > .col-3, #Features > .row > .col-4, #Features > .row > .col-5, #Features > .row > .col-6
{
   float: left;
}
#Features > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: center;
}
#Features > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: center;
}
#Features > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: center;
}
#Features > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#Features > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#Features > .row > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#Features:before,
#Features:after,
#Features .row:before,
#Features .row:after
{
   display: table;
   content: " ";
}
#Features:after,
#Features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Features
{
   width: 100%;
}
#Features > .row > .col-1, #Features > .row > .col-2, #Features > .row > .col-3, #Features > .row > .col-4, #Features > .row > .col-5, #Features > .row > .col-6
{
   float: none;
   width: 100%;
}
}
#wb_PanelText1 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText1 div
{
   text-align: center;
}
#wb_PanelText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_PanelImage1
{
   margin: 0;
   vertical-align: top;
}
#PanelImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage1
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage1:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2
{
   margin: 0;
   vertical-align: top;
}
#PanelImage2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage2
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3
{
   margin: 0;
   vertical-align: top;
}
#PanelImage3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage3
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelText2 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText2 div
{
   text-align: center;
}
#wb_PanelText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_PanelText3 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText3 div
{
   text-align: center;
}
#wb_PanelText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image7
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_Image7:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_Text3 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image8
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_Image8:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_Text4 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image9
{
   opacity: 1.0;
   transition: opacity 500ms linear 0ms;
}
#wb_Image9:hover
{
   opacity: 0.5;
   transition: opacity 500ms linear 0ms;
}
#wb_Text9 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading7
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading9
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading10
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Heading11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading11
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_FlexBoxContainer1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexBoxContainer1
{
   display: flex;
   position: relative;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#Heading5
{
   color: #00C024;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#Footer
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#Footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Footer
{
   width: 1050px;
}
#Footer > .row > .col-1
{
   float: left;
}
#Footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#Footer:before,
#Footer:after,
#Footer .row:before,
#Footer .row:after
{
   display: table;
   content: " ";
}
#Footer:after,
#Footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Footer
{
   width: 100%;
}
#Footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
